<div class="order_success">
    <p style="text-align: center;"><img src="imgs/success.png"/></p>
    <p style="text-align: center;">预约完成等待（美容师）确认</p>
    <p class="yuyue_title"><span class="grey_word">预约项目：</span>{{serviceName}}</p>
    <p><span class="grey_word">预约技师：</span>{{beautician}}</p>
    <p><span class="grey_word">预约时间: </span>{{date}}</p>
    <p class="order_success_center top_margin"></p>
</div>
<div class="order_footer">
    <p>确定</p>
    <a class="index_href" href="#!/appointments_pending"></a>
</div>