<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ngHtmlTemplates" type="CloudSalon.Common.NGHTMLTemplatesSection"></section>
    <section name="ngDirectiveInculdeHtmlTemplates" type="CloudSalon.Common.NGDirectiveInculdeHtmlTemplatesSection"></section>
  </configSections>
  <ngHtmlTemplates>
    <template>
      <state>login</state>
      <url>/login</url>
      <templateUrl>templates/login.html</templateUrl>
      <controller>login</controller>
      <digest></digest>
    </template>
    <template>
      <state>home</state>
      <url>/home</url>
      <templateUrl>templates/home.html</templateUrl>
      <controller>home</controller>
      <digest></digest>
    </template>
    <template>
      <state>appointments</state>
      <url>/appointments</url>
      <templateUrl>templates/appointments.html</templateUrl>
      <controller>appointments</controller>
      <digest></digest>
    </template>
    <template>
      <state>error</state>
      <url>/error/{msg:.*}</url>
      <templateUrl>templates/error.html</templateUrl>
      <controller>error</controller>
      <digest></digest>
    </template>
    <template>
      <state>appointment</state>
      <url>/appointment/{appointmentId}</url>
      <templateUrl>templates/appointment.html</templateUrl>
      <controller>appointment</controller>
      <digest></digest>
    </template>
    <template>
      <state>customers</state>
      <url>/customers</url>
      <templateUrl>templates/customers.html</templateUrl>
      <controller>customers</controller>
      <digest></digest>
    </template>
    <template>
      <state>employees</state>
      <url>/employees</url>
      <templateUrl>templates/employees.html</templateUrl>
      <controller>employees</controller>
      <digest></digest>
    </template>
    <template>
      <state>employee_edit</state>
      <url>/employee_edit/{employeeId:\d*}</url>
      <templateUrl>templates/employee_edit.html</templateUrl>
      <controller>employee_edit</controller>
      <digest></digest>
    </template>
    <template>
      <state>salon</state>
      <url>/salon</url>
      <templateUrl>templates/salon.html</templateUrl>
      <controller>salon</controller>
      <digest></digest>
    </template>
    <template>
      <state>salon_edit</state>
      <url>/salon_edit</url>
      <templateUrl>templates/salon_edit.html</templateUrl>
      <controller>salon_edit</controller>
      <digest></digest>
    </template>
    <template>
      <state>services</state>
      <url>/services</url>
      <templateUrl>templates/services.html</templateUrl>
      <controller>services</controller>
      <digest></digest>
    </template>
    <template>
      <state>service</state>
      <url>/service/{serviceId}</url>
      <templateUrl>templates/service.html</templateUrl>
      <controller>service</controller>
      <digest></digest>
    </template>
    <template>
      <state>service_edit</state>
      <url>/service_edit/{serviceId:\d*}</url>
      <templateUrl>templates/service_edit.html</templateUrl>
      <controller>service_edit</controller>
      <digest></digest>
    </template>
    <template>
      <state>salon_select</state>
      <url>/salon_select</url>
      <templateUrl>templates/salon_select.html</templateUrl>
      <controller>salon_select</controller>
      <digest></digest>
    </template>
    <template>
      <state>unavaitime</state>
      <url>/unavaitime</url>
      <templateUrl>templates/unavaitime.html</templateUrl>
      <controller>unavaitime</controller>
      <digest></digest>
    </template>
    <template>
      <state>setup</state>
      <url>/setup</url>
      <templateUrl>templates/setup.html</templateUrl>
      <controller>setup</controller>
      <digest></digest>
    </template>
    <template>
      <state>appointments_completed</state>
      <url>/appointments_completed</url>
      <templateUrl>templates/appointments_completed.html</templateUrl>
      <controller>appointments_completed</controller>
      <digest></digest>
    </template>
    <template>
      <state>help</state>
      <url>/help</url>
      <templateUrl>templates/help.html</templateUrl>
      <controller>help</controller>
      <digest></digest>
    </template>
    <template>
      <state>help_applywechat</state>
      <url>/help_applywechat</url>
      <templateUrl>templates/help_applywechat.html</templateUrl>
      <controller>help_applywechat</controller>
      <digest></digest>
    </template>
    <template>
      <state>help_bindwechat</state>
      <url>/help_bindwechat</url>
      <templateUrl>templates/help_bindwechat.html</templateUrl>
      <controller>help_bindwechat</controller>
      <digest></digest>
    </template>
    <template>
      <state>help_saloninfo</state>
      <url>/help_saloninfo</url>
      <templateUrl>templates/help_saloninfo.html</templateUrl>
      <controller>help_saloninfo</controller>
      <digest></digest>
    </template>
    <template>
      <state>aboutus</state>
      <url>/aboutus</url>
      <templateUrl>templates/aboutus.html</templateUrl>
      <controller>aboutus</controller>
      <digest></digest>
    </template>
    <template>
      <state>profile</state>
      <url>/profile</url>
      <templateUrl>templates/profile.html</templateUrl>
      <controller>profile</controller>
      <digest></digest>
    </template>
    <template>
      <state>user</state>
      <url>/user/{userId}</url>
      <templateUrl>templates/user.html</templateUrl>
      <controller>user</controller>
      <digest></digest>
    </template>
    <template>
      <state>memo</state>
      <url>/memo/{userId}</url>
      <templateUrl>templates/memo.html</templateUrl>
      <controller>memo</controller>
      <digest></digest>
    </template>
    <template>
      <state>purchasedservice</state>
      <url>/purchasedservice/{purchasedServiceId}/{userId}</url>
      <templateUrl>templates/purchasedservice.html</templateUrl>
      <controller>purchasedservice</controller>
      <digest></digest>
    </template>
    <template>
      <state>service_select</state>
      <url>/service_select/{userId:\d*}</url>
      <templateUrl>templates/service_select.html</templateUrl>
      <controller>service_select</controller>
      <digest></digest>
    </template>
    <template>
      <state>service_select_anonym</state>
      <url>/service_select</url>
      <templateUrl>templates/service_select.html</templateUrl>
      <controller>service_select</controller>
      <digest></digest>
    </template>
    <template>
      <state>service_purchase</state>
      <url>/service_purchase/{userId}/{serviceId}</url>
      <templateUrl>templates/service_purchase.html</templateUrl>
      <controller>service_purchase</controller>
      <digest></digest>
    </template>
    <template>
      <state>user_add</state>
      <url>/user_add</url>
      <templateUrl>templates/user_add.html</templateUrl>
      <controller>user_add</controller>
      <digest></digest>
    </template>
    <template>
      <state>check</state>
      <url>/check/{purchasedServiceId}/{userId}</url>
      <templateUrl>templates/check.html</templateUrl>
      <controller>check</controller>
      <digest></digest>
    </template>
    <template>
      <state>check_scan</state>
      <url>/check/{consumeCode}</url>
      <templateUrl>templates/check.html</templateUrl>
      <controller>check</controller>
      <digest></digest>
    </template>
    <template>
      <state>check_update</state>
      <url>/check_update/{consumedServiceId}</url>
      <templateUrl>templates/check.html</templateUrl>
      <controller>check</controller>
      <digest></digest>
    </template>
    <template>
      <state>check_anonym</state>
      <url>/check_anonym/{serviceId}</url>
      <templateUrl>templates/check_anonym.html</templateUrl>
      <controller>check_anonym</controller>
      <digest></digest>
    </template>
    <template>
      <state>bscan_complete</state>
      <url>/bscan_complete/{purchasedServiceId}</url>
      <templateUrl>templates/bscan_complete.html</templateUrl>
      <controller>bscan_complete</controller>
      <digest></digest>
    </template>
    <template>
      <state>consumedservices</state>
      <url>/consumedservices</url>
      <templateUrl>templates/consumedservices.html</templateUrl>
      <controller>consumedservices</controller>
      <digest></digest>
    </template>
    <template>
      <state>consumedservice</state>
      <url>/consumedservice/{consumedServiceId}</url>
      <templateUrl>templates/consumedservice.html</templateUrl>
      <controller>consumedservice</controller>
      <digest></digest>
    </template>
  </ngHtmlTemplates>
  <ngDirectiveInculdeHtmlTemplates>
    <template>
      <name>dialogUploadImageTemplate</name>
      <templateUrl>templates/dialog_upload_image.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>dialogDatepickupTemplate</name>
      <templateUrl>templates/dialog_datepickup.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>dialogMentionTemplate</name>
      <templateUrl>templates/dialog_mention.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>dialogSelectorTemplate</name>
      <templateUrl>templates/dialog_selector.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>headerBackTemplate</name>
      <templateUrl>templates/header_back.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>headerBackShareTemplate</name>
      <templateUrl>templates/header_back_share.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>footTemplate</name>
      <templateUrl>templates/foot.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>buttonPreviewTemplate</name>
      <templateUrl>templates/button_preview.html</templateUrl>
      <digest></digest>
    </template>
  </ngDirectiveInculdeHtmlTemplates>
  <appSettings>
    <add key="ApiUrl" value="http://192.168.0.153:81/"/>
    <add key="PageSize" value="10"/>
    <add key="FrondendUrl" value="http://192.168.0.153:82/"/>
    <add key="AllScriptDigest" value="" />
    <add key="AllCSSDigest" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>