<div id="head" need-placeholder ng-include="headerBackTemplate"></div>
<div class="ta_c padding_xxl bgc_grey2">
    <img class="shrink_121" src="imgs/mei_bang.png" />
    <p class="fs_s fc_grey padding">版本 1.0.0</p>
</div>
<div class="content">
    <p class="fc_blue padding">集云美邦美容院管理系统说明：</p>
    <p>
        &nbsp;&nbsp;&nbsp;集云美邦管理系统由青玉（上海）网络科技公司开发，
            帮助中小美容院实施移动网络化管理的平台，通过本系统，
            可实现网上推广、销售、管理，提升店铺获客能力，同时实
            现在线的网络管理，提升管理效率。
    </p>
    <p class="fc_blue padding">系统组成</p>
    <p>
        美容院管理端
            <br />
        美容师管理端
            <br />
        店铺前端网站（微信）
    </p>
    <p class="fc_blue padding">联系我们</p>
    <p>jiyunmeibang@126.com</p>
</div>
