<div id="head" need-placeholder ng-include="headerBackTemplate"></div>
<div id="subhead_week" need-placeholder>
    <div>
        <span ng-click="selectWeek(-1)">
            <img src="imgs/arrow_to2.png" />&nbsp;上一周
        </span>
        <span>{{startDate.format("YYYY年MM月")}}
        </span>
        <span ng-click="selectWeek(1)">下一周&nbsp;<img src="imgs/arrow_to.png" />
        </span>
    </div>
    <div>
        <ul>
            <li ng-repeat="day in days" ng-class="{'fc_white bgc_blue':day.date.format('YYYYMMdd')==selectedDate.format('YYYYMMdd')}" ng-click="selectDate(day.date)">
                <p>{{day.date.format("day")}}</p>
                <p>{{day.date.format("dd")}}</p>
                <p class="fc_grey" ng-class="{'fc_white':day.date.format('YYYYMMdd')==selectedDate.format('YYYYMMdd')}">{{day.count}}次</p>
            </li>
        </ul>
    </div>
</div>
<div class="list" load-more="loadMore()" top="330" bottom="95" page-size="PAGESIZE" data="dataForLoadMore">
    <ul>
        <li ng-repeat="a in appointments">
            <a href="#!/appointment/{{a.appointmentId}}" class="container col3">
                <div class="col_2">
                    <p>
                        <img class="circle shrink_67" ng-src="{{a.userPicture|null:'imgs/no_pic100.jpg'}}">
                    </p>
                    <p>{{a.userNickName}}</p>
                </div>
                <div class="col_10">
                    <p>
                        <img class="shrink_17" src="imgs/record_time.png"><span>&nbsp;{{a.appointmentDate.format("YYYY-MM-dd hh:mm")}}</span>
                    </p>
                    <p><span class="fc_grey">项目：</span>{{a.serviceName}}</p>
                    <p><span class="fc_grey">技师：</span>{{a.nickName}}</p>
                    <p><span class="fc_grey">状态：</span>{{a.appointmentStatusId|toAppointmentStatus}}</p>
                </div>
            </a>
        </li>
    </ul>
</div>
<no-data data="appointments"></no-data>
<div id="foot_button" need-placeholder>
    <a href="#!/appointments">待处理预约</a>
    <a class="fc_white bgc_blue">已完成预约</a>
</div>
