<div id="head" need-placeholder ng-include="headerBackTemplate"></div>
<div class="content bgc_grey2" ng-if="!isPreview">
    <p>
        <img class="shrink_19" src="imgs/tubiao_server.png"><span>&nbsp;服务项目</span>
    </p>
    <div class="container col3">
        <div class="col_4">
            <img class="shrink_140" ng-src="{{service.smallSubjectImage|null:'imgs/no_pic210.jpg'}}">
        </div>
        <div class="col_8">
            <p>{{service.serviceName}}</p>
            <p>服务类型：{{service.serviceTypeName}}</p>
            <p>服务时长：{{service.duration}}分钟</p>
            <p>美丽周期：{{service.treatmentInterval|toInterval}}</p>
        </div>
    </div>
</div>
<div class="content" ng-if="!isPreview">
    <p>
        <img class="shrink_16" src="imgs/beautician.png" /><span>&nbsp;服务技师</span>
    </p>
    <div class="list_h" validation="required" fieldname="技师" ng-model="selectedBeautician">
        <ul>
            <li ng-repeat="b in beauticians" ng-click="selectBeautician(b)">
                <p>
                    <img class="shrink_87" ng-src="{{b.smallPicture|null:'imgs/no_pic130.jpg'}}" ng-class="{'border_blue':selectedBeautician==b}" />
                </p>
                <p class="ta_c">{{b.nickName}}</p>
            </li>
        </ul>
    </div>
    <div class="ta_c" ng-if="beauticians.length==0">暂无技师可选择</div>
</div>
<div class="list nohr" ng-if="!isPreview">
    <ul>
        <li>
            <img class="shrink_20" src="imgs/tubiao_xiaofei.png"><span>&nbsp;消费记账</span>
        </li>
        <li class="container">
            <div class="col_1"></div>
            <div class="col_2 fs_s">实付金额</div>
            <div class="col_6 border_grey3">
                <input ng-model="check.payment" validation="required|||number:::2|||range:::1-9999999.99" fieldname="实付金额" maxlength="10" type="text" placeholder="输入实际收入，以便成本核算" style="border: none;">
            </div>
        </li>
        <li class="container">
            <div class="col_1"></div>
            <div class="col_2 fs_s">服务次数</div>
            <div class="col_1 border_grey3">
                <input validation="required|||number:::0|||range:::1-100" maxlength="3" fieldname="消费次数" ng-model="check.time" type="text">
            </div>
            <div>次</div>
        </li>
        <li class="container">
            <div class="col_1"></div>
            <div class="col_11">
                <input type="text" ng-model="check.changeTimeReason" fieldname="备注" maxlength="200" validation="{{check.time!=1?'required':''}}" placeholder="如需备注请输入">
            </div>
        </li>
    </ul>
</div>
<div class="list small nohr" ng-if="isPreview">
    <ul>
        <li class="container">
            <div class="col_1">
                <img class="shrink_19" src="imgs/tubiao_server_h.png">
            </div>
            <div class="col_3 fc_grey">
                服务项目：
            </div>
            <div class="col_8">
                {{service.serviceName}}
            </div>
            <p></p>
        </li>
        <li class="container">
            <div class="col_1 as_s">
                <img class="shrink_16" src="imgs/beautician.png">
            </div>
            <div class="col_3 as_s fc_grey">
                服务技师：
            </div>
            <div class="col_8">
                <p>
                    <img class="shrink_87" ng-src="{{selectedBeautician.smallPicture|null:'imgs/no_pic130.jpg'}}" />
                </p>
                <p>{{selectedBeautician.nickName}}</p>
            </div>
        </li>
        <li class="container">
            <div class="col_1">
                <img class="shrink_20" src="imgs/tubiao_yuyue.png">
            </div>
            <div class="col_3 fc_grey">实付金额：</div>
            <div class="col_8">￥{{check.payment}}</div>
        </li>
    </ul>
</div>
<div class="content" ng-if="isPreview">
    <p class="ta_c">
        <img class="shrink_27" src="imgs/tagging01.png">
        <span>服务次数：</span><span class="fc_red">{{check.time}}次</span>
    </p>
    <p>
        备&#12288;&#12288;注：{{check.changeTimeReason}}
    </p>
</div>
<div id="foot_button" ng-controller="button_preview" ng-include="buttonPreviewTemplate" need-placeholder></div>
