<div id="head" need-placeholder ng-include="headerBackTemplate"></div>
<div class="content">
    <p class="fc_blue">集云美邦美容院管理系统包括：</p>
    <div class="padding_l container">
        <div class="col_6 ta_c">
            <img class="shrink_64" src="imgs/icon_1.png" />
            <p>集云美邦APP</p>
        </div>
        <div class="col_6 ta_c">
            <img class="shrink_64" src="imgs/icon_2.png" />
            <p>美容院前端网站</p>
        </div>
    </div>
    <p class="fc_blue padding">集云美邦APP包含：</p>
    <p>美容院管理端——美容院老板、管理者使用</p>
    <p>美容师管理端——技师、员工使用</p>
    <p class="fc_blue padding">美容院前端网站：</p>
    <p>与店铺微信公众号绑定，用户通过微信公众号进入，实现查看、预约、购买服务项目等功能。</p>
</div>
<hr />
<div class="content">
    <p class="fc_blue padding">使用步骤：</p>
    <div class="container">
        <div class="col_2 as_s">
            <span class="tag bgc_blue fc_white">Step1</span>
        </div>
        <div class="col_10">
            <p>申请微信公众号</p>
            <p>已有公众号的用户可以跳过此步骤，个人、公司或者个体的均可以使用，不需要认证，订阅号服务号不限，订阅号最好……</p>
        </div>
    </div>
    <p class="ta_r">
        <a href="#!/help_applywechat"><img class="shrink_36" src="imgs/arrow_to_link.png" /></a>
    </p>
    <div class="container">
        <div class="col_2 as_s">
            <span class="tag bgc_blue fc_white">Step2</span>
        </div>
        <div class="col_10">
            <p>绑定微信公众号</p>
            <p>登录http://mp.weixin.qq.com……</p>
        </div>
    </div>
    <p class="ta_r">
        <a href="#!/help_bindwechat"><img class="shrink_36" src="imgs/arrow_to_link.png" /></a>
    </p>
    <div class="container">
        <div class="col_2 as_s">
            <span class="tag bgc_blue fc_white">Step3</span>
        </div>
        <div class="col_10">
            <p>添加店铺资料</p>
            <p>添加店铺信息、员工信息、服务项目……</p>
        </div>
    </div>
    <p class="ta_r">
        <a href="#!/help_saloninfo"><img class="shrink_36" src="imgs/arrow_to_link.png" /></a>
    </p>
</div>
