<div id="head" need-placeholder ng-include="headerBackTemplate"></div>
<div class="content">
    <p class="fc_blue ta_c">申请微信公众号</p>
    <p class="fc_grey ta_c">已有公众号请跳过此步，直接绑定公众号</p>
    <p class="padding">1.登录网址：http://mp.weixin.qq.com，点击右上角“立即注册”如下图：</p>
    <p class="ta_c">
        <img class="shrink_444" src="imgs/apply1.png" /></p>
    <p class="padding">2.选择订阅号</p>
    <p class="ta_c">
        <img class="shrink_447" src="imgs/apply2.png" /></p>
    <p class="padding">3.根据要求填写，如下图：</p>
    <p class="ta_c">
        <img class="shrink_311" src="imgs/apply3.png" /></p>
    <p class="padding">4.登录注册邮箱，点击链接激活信息；</p>
    <p class="padding">5.继续选择订阅号，如下图：</p>
    <p class="ta_c">
        <img class="shrink_447" src="imgs/apply4.png" /></p>
    <p class="padding">6.选择申请主体，根据申请者自身的经营主体的性质选择类型，本例以“企业—企业”举例，如下图：</p>
    <p class="ta_c">
        <img class="shrink_421" src="imgs/apply5.png" /></p>
    <p class="padding">7.根据要求填入对应信息，并微信扫描验证身份；</p>
    <p class="padding">8.填入微信公众号信息，如下图：</p>
    <p class="ta_c">
        <img class="shrink_447" src="imgs/apply6.png" /></p>
    <p class="padding">9.完成打款验证，完成微信公众号申请；</p>
    <p class="ta_c">
        <img class="shrink_449" src="imgs/apply7.png" /></p>
</div>
<div id="foot_button" need-placeholder>
    <a class="fc_blue" href="#!/help_bindwechat">下一步</a>
</div>
