<div id="head" need-placeholder ng-include="headerBackTemplate"></div>
<div class="content">
    <p>1.完善店铺资料，如下图：</p>
    <p class="ta_c"><img class="shrink_339" src="imgs/finish1.png" /></p>
    <br />
    <p class="ta_c"><img class="shrink_339" src="imgs/finish2.png" /></p>
    <p>根据提示填入相应的信息，请保证信息的真实可靠，用户将根据信息查看你的店铺。</p>
    <br />
    <p>2.添加员工资料</p>
    <p class="ta_c"><img class="shrink_339" src="imgs/finish3.png" /></p>
    <br />
    <p class="ta_c"><img class="shrink_341" src="imgs/finish4.png" /></p>
    <p>根据提示填入相应的信息，技师身份的员工，只能使用技师端的功能，管理员的功能本版本和老板的功能一致，后续的版本会有区分。</p>
    <br />
    <p>3.添加服务项目；</p>
    <p class="ta_c"><img class="shrink_338" src="imgs/finish5.png" /></p>
    <p class="ta_c"><img class="shrink_341" src="imgs/finish6.png" /></p>
    <p>添加店铺所有服务项目，以便用户选择购买及预约相应的项目。</p>
</div>
<div id="foot_button" need-placeholder>
    <a class="fc_blue" href="#!/home">完成</a>
</div>
