<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ngHtmlTemplates" type="CloudSalon.Common.NGHTMLTemplatesSection"></section>
    <section name="ngDirectiveInculdeHtmlTemplates" type="CloudSalon.Common.NGDirectiveInculdeHtmlTemplatesSection"></section>
  </configSections>
  <ngHtmlTemplates>
    <template>
      <state>services</state>
      <url>/services</url>
      <templateUrl>templates/services.html</templateUrl>
      <controller>services</controller>
      <digest></digest>
    </template>
    <template>
      <state>service</state>
      <url>/service/{serviceId}</url>
      <templateUrl>templates/service.html</templateUrl>
      <controller>service</controller>
      <digest></digest>
    </template>
    <template>
      <state>service_qrcode</state>
      <url>/service/{serviceId}/{showQRCode:[01]}</url>
      <templateUrl>templates/service.html</templateUrl>
      <controller>service</controller>
      <digest></digest>
    </template>
    <template>
      <state>service_appoint</state>
      <url>/service_appoint/{serviceId}</url>
      <templateUrl>templates/service_appoint.html</templateUrl>
      <controller>service_appoint</controller>
      <digest></digest>
    </template>
    <template>
      <state>login</state>
      <url>/login/{redirect:.*}</url>
      <templateUrl>templates/login.html</templateUrl>
      <controller>login</controller>
      <digest></digest>
    </template>
    <template>
      <state>appointment_success</state>
      <url>/appointment_success/{serviceName}/{beautician}/{date}</url>
      <templateUrl>templates/appointment_success.html</templateUrl>
      <controller>appointment_success</controller>
      <digest></digest>
    </template>
    <template>
      <state>appointments_pending</state>
      <url>/appointments_pending</url>
      <templateUrl>templates/appointments_pending.html</templateUrl>
      <controller>appointments_pending</controller>
      <digest></digest>
    </template>
    <template>
      <state>appointment</state>
      <url>/appointment/{appointmentId}</url>
      <templateUrl>templates/appointment.html</templateUrl>
      <controller>appointment</controller>
      <digest></digest>
    </template>
    <template>
      <state>appointment_cancel_success</state>
      <url>/appointment_cancel_success</url>
      <templateUrl>templates/appointment_cancel_success.html</templateUrl>
      <controller>
      </controller>
      <digest></digest>
    </template>
    <template>
      <state>usercenter</state>
      <url>/usercenter</url>
      <templateUrl>templates/usercenter.html</templateUrl>
      <controller>usercenter</controller>
      <digest></digest>
    </template>
    <template>
      <state>appointments</state>
      <url>/appointments</url>
      <templateUrl>templates/appointments.html</templateUrl>
      <controller>appointments</controller>
      <digest></digest>
    </template>
    <template>
      <state>user_edit</state>
      <url>/user_edit</url>
      <templateUrl>templates/user_edit.html</templateUrl>
      <controller>user_edit</controller>
      <digest></digest>
    </template>
    <template>
      <state>salon</state>
      <url>/salon/{showQRCode:[01]}</url>
      <templateUrl>templates/salon.html</templateUrl>
      <controller>salon</controller>
      <digest></digest>
    </template>
    <template>
      <state>error</state>
      <url>/error/{msg:.*}</url>
      <templateUrl>templates/error.html</templateUrl>
      <controller>error</controller>
      <digest></digest>
    </template>
    <template>
      <state>consumecode</state>
      <url>/consumecode</url>
      <templateUrl>templates/consumecode.html</templateUrl>
      <controller>consumecode</controller>
      <digest></digest>
    </template>
    <template>
      <state>purchasedservices</state>
      <url>/purchasedservices</url>
      <templateUrl>templates/purchasedservices.html</templateUrl>
      <controller>purchasedservices</controller>
      <digest></digest>
    </template>
    <template>
      <state>receipts</state>
      <url>/receipts</url>
      <templateUrl>templates/receipts.html</templateUrl>
      <controller>receipts</controller>
      <digest></digest>
    </template>
    <template>
      <state>receipt</state>
      <url>/receipt/{consumedServiceId}</url>
      <templateUrl>templates/receipt.html</templateUrl>
      <controller>receipt</controller>
      <digest></digest>
    </template>
    <template>
      <state>purchasedservice</state>
      <url>/purchasedservice/{purchasedServiceId}</url>
      <templateUrl>templates/purchasedservice.html</templateUrl>
      <controller>purchasedservice</controller>
      <digest></digest>
    </template>
  </ngHtmlTemplates>
  <ngDirectiveInculdeHtmlTemplates>
    <template>
      <name>dialogUploadImageTemplate</name>
      <templateUrl>templates/dialog_upload_image.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>footTemplate</name>
      <templateUrl>templates/foot.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>dialogMentionTemplate</name>
      <templateUrl>templates/dialog_mention.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>dialogServiceTypesTemplate</name>
      <templateUrl>templates/dialog_service_types.html</templateUrl>
      <digest></digest>
    </template>
  </ngDirectiveInculdeHtmlTemplates>
  <appSettings>
    <add key="ApiUrl" value="http://192.168.0.153:81/"/>
    <add key="PageSize" value="10"/>
    <add key="AllScriptDigest" value="" />
    <add key="AllCSSDigest" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>